.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: var(--medkit-inside-height); 
  margin: 5px;
  border-radius: 10px;
  
  background-color: var(--medkit-inside-color);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}