.backButtonContainer {
  margin: 20px;
}

.box {
  height: var(--medkit-inside-height);
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  padding-right: 10px;
  box-sizing: border-box; 

  background-color: var(--medkit-inside-color);
  border-radius: 10px;

  animation: zoomInEffect var(--anim-time) ease-out forwards;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: flex-start;
  place-items: center;
  gap: 15px 0px;
  
}
