.backButtonContainer {
  margin: 20px;
}

.box {
  margin-left: 10px;
  margin-right: 10px;
  height: var(--medkit-inside-height);
  padding: 20px;
  padding-right: 10px;

  background-color: var(--medkit-inside-color);
  border-radius: 10px;
  
  animation: zoomInEffect var(--anim-time) ease-out forwards;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  place-items: center;
  grid-auto-rows: min-content;
  gap: 30px;
}