.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 100%;
  overflow: hidden;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 200px;
  height: auto;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  gap: 10px;
  overflow-y: auto;
}

.whatIsIt,
.howToUse,
.importantNotes {
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  
  flex: 1;

  text-align: justify;
  word-break: break-word;
}

.whatIsIt {
  background-color: var(--what-is-it-background);
}

.howToUse {
  background-color: var(--how-to-use-background);
}

.importantNotes {
  background-color: var(--important-notes-background);
}

.title {
  margin: 0;

}

.text {
  margin: 0;
}
