.container {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background-color: var(--medkit-item-card-background);

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.title {
  font-size: 1.1rem;
  text-align: center;
  padding: 0 5px;
  color: var(--medkit-item-card-title);
}

.image {
  width: 100%;
  flex: 1;
  min-height: 0;
  padding: 10px;
  border-radius: 15px;
  object-fit: contain;
}
