.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 5rem;
  margin-bottom: 20px;
  color: var(--medkit-title-color);
  margin: 0;
  text-align: center;
}

.text {
  font-size: 1.1rem;
  text-align: center;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wrapper {
  width: 200px;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 600px) {
  .medkitContainer {
    width: 70%;
  }

  .title {
    font-size: 4rem;
  }

  .text {
    font-size: 1rem;
  }

  .row {
    flex-direction: column;
  }
}