.container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--medkit-title-color);
  margin: 0;
  text-align: center;
}
