.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
}

.logosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.logo {
  height: 100px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 5rem;
  margin-bottom: 20px;
  color: var(--medkit-title-color);
  margin: 0;
  text-align: center;
}

.text {
  font-size: 1.1rem;
  text-align: center;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  flex-grow: 1;
}

.wrapper {
  width: 200px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  margin-top: 50px;
  padding: 0;

  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(255, 255, 255, 0.2);
}

.footer p {
  width: 25%;
  text-align: center;
}

@media (max-width: 600px) {
  .medkitContainer {
    width: 70%;
  }

  .title {
    font-size: 4rem;
  }

  .text {
    font-size: 1rem;
  }

  .logo {
    height: 80px;
  }

  .row {
    flex-direction: column;
    gap: 0px;
  }
}