.button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  cursor: pointer;

  width: 150px;
  height: auto;

  pointer-events: none;
}

.button:hover {
  
}

.button :global(path) {
  pointer-events: auto;
  cursor: pointer;
}
