.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;

  width: var(--modal-width);
  height: var(--modal-height);

  background-color: var(--modal-backgroud-color);
  border-radius: 15px;
  padding: 20px;

  box-shadow: 0 0px 100px rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exitButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
