.image {
  pointer-events: none;

  display: block;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.image:hover {
  transform: scale(1.1);
}

.image :global(path) {
  pointer-events: auto;
  cursor: pointer;
}
