.customScroll {
  overflow-y: auto;
}

.customScroll::-webkit-scrollbar {
  width: 14px;
}

.customScroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px 0;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  border: 4px solid transparent;
  background-clip: content-box;
}

.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
